.footer {
  background-color: black;
  color: white;

  padding: 4rem;

  @media(min-width: 992px) {
    padding: 8rem;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: column;

    @media(min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }

    .footer__contact {
      padding: 2.4rem 0;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      @media(min-width: 768px) {
        width: 30%;
      }

      h3 {
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      p {
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 0.7rem;
        word-break: break-all;

        a {
          text-decoration: none;
          color: rgb(157, 157, 157);

          &:hover {
            color: white;
            transition: 1s;
          }
        }
      }
    }

    .footer__block {
      padding: 2.4rem 0;

      @media(min-width: 768px) {
        width: 40%;
      }

      .footer__block__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
          font-size: 2rem;
          font-weight: 900;
        }

        h2 {
          font-size: 4.2rem;
          font-weight: 900;
        }
      }

      .footer__block__socials {
        font-size: 2.5rem;
        padding: 2.4rem 0;

        display: flex;
        justify-content: center;
        align-items: center;

        a {
          margin: 0 1rem;
        }

        .footer__block__socials--instagram {
          &:hover {
            color: rgb(128, 0, 128);
            transition: 1s;
          }
        }

        .footer__block__socials--twitter {
          &:hover {
            color: rgb(93, 169, 220);
            transition: 1s;
          }
        }
      }
    }
  }
}