.footer {

  background-color: black;
  color: white;
  padding: 8.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  .footer__wrapper {
    width: 90%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .footer__contact {
      width: 25%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      h3 {
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      span {
        font-size: 1.8rem;
        margin-bottom: 0.7rem;

        a {
          text-decoration: none;
          color: rgb(157, 157, 157);

          &:hover {
            color: white;
            transition: 1s;
          }
        }
      }
    }

    .footer__block {
      width: 50%;

      .footer__block__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        span {
          font-size: 2rem;
          font-weight: 900;
        }

        h2 {
          font-size: 4.2rem;
          font-weight: 900;
        }
      }

      .footer__block__socials {
        font-size: 2.5rem;
        padding: 2.4rem 0;

        display: flex;
        justify-content: center;
        align-items: center;

        a {
          margin: 0 1rem;
        }

        .footer__block__socials--instagram {
          &:hover {
            color: rgb(128, 0, 128);
            transition: 1s;
          }
        }

        .footer__block__socials--twitter {
          &:hover {
            color: rgb(93, 169, 220);
            transition: 1s;
          }
        }
      }
    }
  }
}