@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}

.navigation__list {
  width: 100%;

  background-color: white;
  padding: 2.4rem 2.4rem;
  position: fixed;
  top: 95px;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;

  animation: expand 0.8s ease forwards;

  @media (min-width: 768px) {
    width: 100%;
    height: 80px;

    position: fixed;
    margin: auto;
    top: 80px;
    right: 0;
    left: 0;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  // &::before {
  //   width: 100%;
  //   height: 100%;

  //   content: "";
  //   display: block;
  //   background-color: black;
  //   opacity: 0.3;

  //   position: absolute;
  //   top: 0;
  //   left: 0;

  //   z-index: 1;
  // }

  .list-item {
    font-size: 1.4rem;
    color: black;
    font-weight: 900;

    @media (min-width: 768px) {
      color: white;
      font-size: 2.4rem;
      font-weight: 900;
      padding: 0 5.6rem;
      z-index: 2;
    }
  }
}

// .nav__list {
//   width: 100vw;
//   height: 100vh;

//   background-color: rgb(15, 17, 26);

//   position: relative;
//   margin: auto;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: 3;

//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;

//   @media (min-width: 992px) {
//     width: auto;
//     height: 100%;

//     margin: 0;
//     margin-right: 2rem;
//     z-index: 1;

//     flex-direction: row;
//     justify-content: flex-end;
//   }

//   a {
//     text-decoration: none;
//     @media (min-width: 992px) {
//       margin-left: 1rem;
//     }

//     &:nth-child(1) {
//       animation: slideIn 0.4s ease-in-out forwards;
//     }
//     &:nth-child(2) {
//       animation: slideIn 0.6s ease-in-out forwards;
//     }
//     &:nth-child(3) {
//       animation: slideIn 0.8s ease-in-out forwards;
//     }
//     &:nth-child(4) {
//       animation: slideIn 1s ease-in-out forwards;
//     }

//     .nav__list-item {
//       border: 2px solid #89ddff;
//       color: #717cb4;
//       font-weight: bold;
//       font-size: 2rem;
//       margin-bottom: 2rem;
//       padding: 1.5rem 2rem;

//       @media (min-width: 992px) {
//         margin-left: 1rem;

//         background: none;
//         border: none;
//         color: rgb(40, 42, 54);
//         font-weight: bold;
//         font-size: 1.4rem;
//         margin-bottom: 0;
//         padding: 1rem 2rem;

//         position: relative;
//         text-decoration: none;
//         z-index: 1;
//         cursor: pointer;
//       }

//       &::before {
//         @media (min-width: 992px) {
//           width: 100%;
//           height: 100%;

//           background-color: #89ddff;
//           content: "";

//           position: absolute;
//           top: 5px;
//           right: 5px;
//           transition: transform 0.15s ease-out 0s;
//           z-index: -1;
//         }
//       }

//       &::after {
//         @media (min-width: 992px) {
//           width: 100%;
//           height: 100%;

//           border: 2px solid #717cb4;
//           content: "";

//           position: absolute;
//           left: 0px;
//           top: 0px;
//           opacity: 1;
//           transition: transform 0.15s ease-out 0s;
//         }
//       }

//       &:hover {
//         @media (min-width: 992px) {
//           &::before {
//             top: 0px;
//             left: 0px;
//             transition: ease-in-out 0.2s;
//           }
//           &::after {
//             top: 5px;
//             left: -5px;
//             transition: ease-in-out 0.2s;
//           }
//         }
//       }
//     }
//   }
// }
