.booking-message__detail {
   width: 90%;
   padding: 1.2rem 0;
   border-bottom: 1px solid lightgray;

   display: flex;
   align-items: center;

   .booking-message__detail__info {
      width: 30%;
   }

   .booking-message__detail__data {
      width: auto;
      color: gold;
      font-weight: bold;
   }
}