.slides {
  width: 100%;
  height: calc(100vh - 70px);

  .slides__slide {
    height: calc(100vh - 70px);

    .slide-img {
      height: 100%;
      background-position: center;
      background-size: cover;
    }

    .slide-img--first-slide {
      background-image: url("../../static/images/picture1.jpg");
    }

    .slide-img--second-slide {
      background-image: url("../../static/images/picture2.jpg");
    }

    .slide-img--forth-slide {
      background-image: url("../../static/images/picture3.jpg");
    }
  }

  .thumbs-wrapper,
  .carousel-status {
    display: none;
  }
}