.menu {
  width: 100%;

  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    width: 100%;

    font-weight: 900;
    font-size: 6rem;
    padding: 3.6rem 0;
    text-align: center;
  }

  .menu__wrapper {
    width: 90%;

    margin: 0 0 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(min-width: 992px) {
      width: 75%;
    }
  }

  .menu__name {
    width: 100%;

    margin: 3.6rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .menu__heading {
      width: 100%;
      font-weight: 700;
      font-size: 2.4rem;
      padding: 2.4rem 0;
      text-align: center;

      border-bottom: 1px solid rgb(201, 201, 201);
    }

    .menu__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      h2 {
        font-size: 2rem;
        border-bottom: 2px solid black;
        margin: 2.4rem 0;
        padding: 1.2rem 0;
      }

      .menu__meal {
        width: 45%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width: 1280px) {
          flex-direction: row;
          align-items: center;
        }
      }

      .menu__title {
        width: 85%;

        @media (min-width: 768px) {
          width: 80%;
        }

        padding: 1.2rem 0;
        font-size: 1.8rem;
      }

      .menu__price {
        font-size: 1.6rem;
      }
    }
  }
}